
.settings-article {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.btnDarkMode, .btnSkip, .btnSignIn, .btnContinue {
    border-radius: 40px;
    margin: 2em 1em;
    display: grid;
}


.btnDarkMode {
border: 1px solid $design-color;
color: $design-color;
font-size: 18px;
padding: 1em 6em;
}

.btnSkip {


}

.btnSignIn {


}

.btnContinue {


}