button {
    background: none;
    border: none;
    margin-right: 3em;
}


 li {
    width: 100%;
    max-width: 100%;
    text-transform: uppercase;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 15% 70% 15%;//4em 6em 12em; (lav noget min-max i stedet)
    align-items: center;
   
    border-bottom: 1px solid #C5C5C5;
    padding: 1.5em 0;


    span {
        grid-column: 2;
        grid-row: 1;
        justify-self: flex-start;
        font-weight: bolder;
        font-size: 16px;
        color: $text-general;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
        justify-self: center;
    }

    .fa-chevron-right {
        font-size: 16px;
        color: $text-general;
        justify-self: flex-end;
        grid-column: 3;
        grid-row: 1;
    }







/* The switch - the box around the slider */
.switch {
    grid-column: 3;
    grid-row: 1;
    justify-self: flex-end;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    //background-color: red;//testing
    overflow: visible;
    margin-right: 1.5em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    //border: 2px solid black; //til test
    z-index: 10;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4D861F !important;
    z-index: 11;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4D861F !important;
    z-index: 11;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
}